body {
	/*background-image:      url(bg/bg_cn/body_bg.gif);*/
	background-color:white;
	background-attachment:inherit; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px;
	/*filter:gray;*/
}
.HTMLInformation {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
}
a.guide:hover {
	color:red;
	text-decoration:underline;
}

.text {
	color: #ff9900;
	text-decoration: none;
	font-size: 12px;
}
.text_666666 {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
.black_12px_ {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: underline;
	border-top-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
.type_666666_12px_ {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: underline;
	border-top-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
.black_12px {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	border-top-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
.type_666666_12px_sidebar {
	height:20px;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
	border-top-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
.type_666666_12px {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
	border-top-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
.type_666666_12px_b {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
	border-top-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
.head {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-transform: none;
	font-variant: normal;
}
.type_483D8B_overline {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #483D8B;
	text-decoration: overline;
	border-top-style: none;
}
.type_483D8B {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #483D8B;
	text-decoration: none;
	border-top-style: none;
}
.type_666666 {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
	border-top-style: none;
}
.white_12px_ {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: underline;
	border-top-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
.type_483D8B_12px {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #483D8B;
	text-decoration: none;
	border-top-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
.type_483D8B_12px_ {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #483D8B;
	text-decoration: underline;
	border-top-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
.White_16px_B {
	font-size: 16px;
	font-weight: bolder;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}
.white_14px {
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.type_083996_14px_B {
	color: #083996;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.type_483D8B_14px_B {
	color: #483D8B;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.type_483D8B_14px_B_ {
	color: #483D8B;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
}
.Black_16px_B {
	color: #000000;
	font-size: 16px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.Yellow_16px_B {
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color: #FFFF00;
	text-decoration: none;
}
.Orange_16px_B {
	font-size: 16px;
	font-weight: normal;
	color: #FF9900;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: "??";
}
.Blue_12px_ {
	color: #0742B8;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.Blue_2_12px_ {
	color: #0742B8;;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.Red_14px {
	color: #FF0000;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;	
	text-decoration: none;
}
.Red_14px_B {
	font-size: 14px;
	font-weight: bolder;
	color: #FF0000;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
 	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.Red_80px {
	color: #FF0000;
	font-size: 80px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.white_12px {
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.yellow_12px {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	text-transform: none;
	color: #FFFF00;
	text-decoration: none;
}
.yellow_12px {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	text-transform: none;
	color: #FFFF00;
	text-decoration: none;
}
.yellow_14px {
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	text-transform: none;
	color: #FFFF00;
	text-decoration: none;
	font-family: "ËÎÌו";
}
.yellow_16px {
	font-size: 16px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	text-transform: none;
	color: #FFFF00;
	text-decoration: none;
}
.gray_16px {
	font-size: 16px;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
}
.Red_12px {
	color: #FF0000;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.Red_12px_B {
	font-size: 12px;
	font-weight: bolder;
	color: #FF0000;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
 	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.white_18px_b {
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}
.type_696969_22px_b {
	font-size: 22px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Red_14px_ {

	color: #FF0000;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
}
.Red_12px_ {

	color: #FF0000;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
}
.white_14px_ {
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.Yellow_14px_B {
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color: #FFFF00;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Yellow_16px_B {
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color: #FFFF00;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Yellow_18px_B {
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color: #FFFF00;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Blue_14px{
	font-size: 14px;
	color: #0742B8;
	text-decoration: none;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;	
}
.Blue_2_14px {
	font-size: 14px;
	color: #68A5FF;
	text-decoration: none;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;	
}
.Blue_14px_b {
	font-size: 14px;
	color: #68A5FF;
	text-decoration: none;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;	
}
.Blue_3_14px_B {
	color: #68A5FF;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Blue_14px_b_2 {
	font-size: 14px;
	color: #0742B8;
	text-decoration: none;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;	
}
.Blue_14px_b_2_ {
	font-size: 14px;
	color: #0742B8;
	text-decoration: underline;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Blue_16px_b {
	font-size: 16px;
	color: #0742B8;
	text-decoration: none;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;	
}
.Blue_2_16px_b {
	font-size: 16px;
	font-weight: bolder;
	color: #68A5FF;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.Blue_24px_B {
	color: #68A5FF;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.white_36px_b {
	font-size: 36px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}
.white_14px_b_ {
	font-size: 14px;
	font-weight: bolder;
	color: #FFFFFF;
	text-decoration: underline;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.white_14px_b {
	font-size: 14px;
	font-weight: bolder;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.type_696969_14px_b {
	font-size: 14px;
	font-weight: bolder;
	color: #696969;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.type_696969_16px_b {
	font-size: 16px;
	font-weight: bolder;
	color: #696969;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.type_696969_14px {
	font-size: 14px;
	color: #696969;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.white_12px_b {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.type_483D8B_12px_b {
	font-size: 12px;
	font-weight: bold;
	color: #483D8B;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.white_12px_b_ {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.type_483D8B_12px_b_ {
	font-size: 12px;
	font-weight: bold;
	color: #483D8B;
	text-decoration: underline;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.type_483D8B_14px{
	font-size: 14px;
	color: #483D8B;
	text-decoration: none;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;	
}
.blue_12px_b_ {
	font-size: 12px;
	font-weight: bold;
	color: #0742B8;
	text-decoration: underline;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.blue_12px_b{
	font-size: 12px;
	font-weight: bold;
	color: #0742B8;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.BottomCSS {font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
}
.Blue_14px_b_ {

	font-size: 14px;
	font-weight: bolder;
	color: #68A5FF;
	text-decoration: underline;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.orange_12px {
	font-size: 12px;
	font-style: normal;
	line-height: 25px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FF9900;
	font-family: "Courier New", Courier, mono;
	text-decoration: none;
}
.orange_12px_ {
	font-size: 12px;
	font-style: normal;
	line-height: 25px;
	text-decoration: underline;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FF9900;
	font-family: "Courier New", Courier, mono;
}
.Orange_14px_ {
	font-size: 14px;
	font-weight: normal;
	color: #FF9900;
	text-decoration: underline;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.Orange_14px_b {
	font-size: 14px;
	font-weight: bolder;
	font-weight: normal;
	color: #FF9900;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 24px;
	font-family: Arial, Helvetica, sans-serif;
}
.Blue_18px_B {

	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color: #0742B8;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Blue_36px_B {

	font-size: 36px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color: #0742B8;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Orange_18px_B {

	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color: #FF9900;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Blue_12px {
	font-size: 12px;
	color: #0742B8;
	text-decoration: none;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Yellow_14px_B_ {

	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color: #FFFF00;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
}
.White_16px_B_ {


	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
}
.Yellow_16px_B {

	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color: #FFFF00;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.green_12px {
	font-size: 12px;
	color: #339966;
	text-decoration: none;
	font-style: normal;
	line-height: 20px;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;	
}
.green_14px_b {
	font-size: 14px;
	font-weight: bolder;	
	color: #339966;
	text-decoration: none;
	font-style: normal;
	line-height: 20px;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;	
}
.green_18px_b {
	font-size: 18px;
	font-weight: bolder;	
	color: #339966;
	text-decoration: none;
	font-style: normal;
	line-height: 20px;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;	
}
.Red_18px_B {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	text-transform: none;
	color: #FF0000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
.Blue_18px_b_ {

	font-size: 18px;
	font-weight: bolder;
	color: #68A5FF;
	text-decoration: underline;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	font-family: Arial, Helvetica, sans-serif;
}
.black_12px_b {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.black_14px {
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.black_14px_b {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.Black_16px {
	color: #000000;
	font-size: 16px;
	font-style: normal;
	line-height: 20px;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.Black_18px {
	color: #000000;
	font-size: 18px;
	font-style: normal;
	line-height: 20px;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.Black_18px_B {
	color: #000000;
	font-size: 18px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
}
.Black_22px_B {
	color: #000000;
	font-size: 22px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	font-family: "ËÎÌו";
}
.buy_prompt_window{ 
  position:absolute;
  display:none;
  width:200px;
  height:80px;
  background-color:#FFCC66;
  border:1px #CCCCCC solid;
}
.can_not_order_prompt_window{ 
  position:absolute;
  display:none;
  width:210px;
  height:25px;
  background-color:#FFCC66;
}
.window_css_1{
   height:25px;
   text-align:right;
   font-size:12px;
   border-bottom:1px #CCCCCC solid;
   line-height:25px;
   width:100%;
   float:left;
   text-align:center;
   cursor:hand;
}
.window_css_2{
   font-size:12px;
   padding:10px;
   line-height:23px;
}
.window_css_3{
   width:100%;
   height:20px;
   line-height:20px;
   text-align:center;
}
.clear{
  clear:both;
}

